body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
body {
    background-color: rgb(143, 224, 238);
}

#app {
    text-align:center;
}

.input-container {
    margin-bottom: 200px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 200px;
}

